body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior de la pantalla */
    min-height: 100vh;
    background-image: url('https://imgur.com/49FBxs5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-and-mascot {
    display: flex;
    flex-direction: column; /* Apila el logo y la mascota verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
}

.logo {
    width: 650px; /* Ajusta el tamaño del logo según tus preferencias */
}

.mascot {
    width: 300px; /* Ajusta el tamaño de la mascota según tus preferencias */
}

.container {
    text-align: center;
    font-family: "Couture", sans-serif;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Ajusta la distancia entre los botones y la parte superior de la pantalla */
}

.invitation-link,
.toggle-info {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white; /* Cambia el color del texto según tus preferencias */
    border: 2px solid white; /* Agrega un borde negro de 2 píxeles alrededor del texto */
    border-inline: black;
    padding: 5px 10px; /* Añade un espacio de relleno para que el borde no esté muy cerca del texto */
    transition: color 0.3s, border-color 0.3s; /* Agrega transiciones de color y borde */
    margin-bottom: 10px; /* Ajusta la distancia entre los botones */
}

.invitation-link:hover,
.toggle-info:hover {
    color: rgb(216, 184, 3); /* Cambia el color al pasar el mouse sobre los botones */
    border-color: rgb(216, 184, 3); /* Cambia el color del borde al pasar el mouse sobre los botones */
}

.info-container {
    display: none; /* Oculta el contenedor del texto informativo por defecto */
}

/* Agrega una animación al mostrar/ocultar el texto informativo */
.info-container.active {
    display: block;
    animation: slideIn 1s ease-in-out; /* Agrega una animación de deslizamiento al mostrar */
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
